
<!DOCTYPE html>
<html>
{%load static %}
<head>
    <style>
          body {
	                   padding-top: 50px;
	                   padding-bottom: 50px;
                       background-image: url( "{% static 'Imagess\background\background.jpg' %}");
                       background-repeat: no-repeat;
                       background-attachment: fixed;
                       background-size: 100% 100%;
                  }

      </style>
</head>
<body>
welcome {{fname}}



</body>

</html>


